# macOS
.DS_Store
.AppleDouble
.LSOverride

# Python
__pycache__/
*.py[cod]
*.pyo
.env
.venv/
venv/

# Jupyter
.ipynb_checkpoints/

# Editor
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log

# 英語版ソースファイル
README_EN.md
